.note{
	background-color: gray;
	margin: 0 10px 0 10px;
	/*border-radius: .3rem;*/
	border-bottom: 1px solid black;
	font-size: 1.25rem;
	/*display: table-cell;*/
	min-height: 48px;
}

.mv-5{
	margin: 5px 0 5px 0;
}