<page-content></page-content>


<!--The content below is only a placeholder and can be replaced.-->
<!-- <ul>
  <li> -->
    <!-- <folder-component *ngFor="let folder of folders" [folder]="folder"></folder-component> -->
 <!--  </li>
</ul> -->


 <!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form action="/action_page.php">
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <input type="button" class="btn btn-block" value="New Line" onfocus="">
  </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      a
    </div>
  </div> -->


<router-outlet></router-outlet>
